<div class="center">
    <strong>Character Name</strong>
    <p>{{character_name}}</p>
    <strong>Health</strong>
    <p>{{character_health}}</p>
    <strong>Attack Damage</strong>
    <p>{{character_dps}}</p>
</div>

