nav {
    margin-top: 0;
}

.background {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.lightbox {
    background:rgba(61, 55, 55,0.4);
    border: 20px solid rgb(0, 0, 0);
    padding: 50px;
    width: 100%;
    float: none;
    display: inline-block;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.title {
    text-align: Center;
    color: #E3E3E3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 53px;
}

.center {
    align-self: center;
}

.nav_text{
    color: #E3E3E3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}