nav {
    margin-top: 0;
}
body{
     font-family: 'Gugi', cursive;
}
.background {
    background-image: url("../Images/background2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.background2{
    background-image: url("../Images/backgroundnight.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}
#backgroundwinlose {
    background-image: url("../Images/backgroundwinlose.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.backgroundfight {
    background-image: url("../Images/backgroundfight2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.lightbox {
    background:rgba(61, 55, 55,0.4);
    border: 5px solid rgb(0, 0, 0);

    padding: 50px;
    width: 100%;
    float: none;
    display: inline-block;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.minibox {
    background:rgba(255, 255, 255,0.3);
    border: 0px solid rgb(0, 0, 0);
    padding: 25px;
    width: 18%;
    float: none;
    display: inline-block;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    color: white;

}
.store {
    background-image: url("../Images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    }
.title {
    text-align: Center;
    color: #E3E3E3;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 53px;
}

.center {
    align-self: center;
}

.nav_text{
    color: #E3E3E3;
    font-size: 20px;
}




.video-header{height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.wrap{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:auto;
    text-align: center;

}
.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.fullscreen-video-wrap video{
    min-height: 100%;
    width: 100%;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(34,33,33,0.65);
    opacity: 0.80;

}

#bodyhome{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#victorylose{
    margin: 110px 0px 80px 30px ;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    color: black;
    text-decoration: none;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: meter;
    -moz-appearance: none;
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}


/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; } 

